@-webkit-keyframes kurukuru {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}

@-webkit-keyframes nijiiro {
	0% { color: #f00; }
	17% { color: #ff0; }
	33% { color: #0f0; }
	50% { color: #0ff; }
	67% { color: #00f; }
	83% { color: #f0f; }
	100% { color: #f00; }
}

header {
	display: -webkit-box;
	-webkit-box-align: center;
	width: 50%;
	margin: 1em auto;
}

header h1 {
	text-align: center;
	font-size: 4em;
	-webkit-box-flex: 1;
	-webkit-animation-name: kurukuru, nijiiro;
	-webkit-animation-duration: 3s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}

header .portrait {
	-webkit-box-reflect: below 5px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.8, transparent), to(rgba(0, 0, 0, 0.8)));
}

header .removed {
	width: 240px;
	height: 320px;
	padding: 0.5em;
	border: solid 12px white;
	-webkit-box-shadow: 1px 1px 6px silver;
	background-color: silver;
}

header .portrait img {
	border: solid 12px white;
	height: 320px;
	-webkit-box-shadow: 1px 1px 6px silver;
}

h2 {
	margin: 0;
	padding: 0;
}

section {
	box-shadow: 6px 6px 4px #999;
	-moz-box-shadow: 6px 6px 4px #999;
	-webkit-box-shadow: 6px 6px 4px #999;

	margin: 20px auto;
	padding: 0px;

	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;

	width: 80%;

}

ul li {
  -webkit-transition-propaty: all;
  -webkit-transition-duration: 1s;
  -webkit-transition-timing-function: ease-in-out;
}

ul li:hover {
  background-color: #ccc;
}

