@-webkit-keyframes kurukuru {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}

@-webkit-keyframes nijiiro {
	0% { color: #f00; }
	17% { color: #ff0; }
	33% { color: #0f0; }
	50% { color: #0ff; }
	67% { color: #00f; }
	83% { color: #f0f; }
	100% { color: #f00; }
}

body {
  font-family: Helvetica, "Lucida Grande","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ", "ＭＳ Ｐゴシック","Lucida Sans Unicode",Arial,Verdana,sans-serif;
  background-color: #aaa;
  margin: 0;
  padding: 0;
}

div#container {
  background-color: #fff;
  width: 90%;
  margin: 0px auto;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

header {
	display: -webkit-box;
	-webkit-box-align: center;
	width: 50%;
	margin: 1em auto;
}

header h1 {
	text-align: center;
	font-size: 4em;
	-webkit-box-flex: 1;
	-webkit-animation-name: kurukuru, nijiiro;
	-webkit-animation-duration: 3s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}

header .portrait {
	-webkit-box-reflect: below 5px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.8, transparent), to(rgba(0, 0, 0, 0.8)));
}

header .removed {
	width: 240px;
	height: 320px;
	padding: 0.5em;
	border: solid 12px white;
	-webkit-box-shadow: 1px 1px 6px silver;
	background-color: silver;
}

header .portrait img {
	border: solid 12px white;
	height: 320px;
	-webkit-box-shadow: 1px 1px 6px silver;
}

section {
  display: block;
  width: 80%;
  margin: 0px auto;
}

section h2 {
  background-color: #33a2be;
  color: #fff;
	box-shadow: 3px 3px 2px #999;
	-moz-box-shadow: 3px 3px 2px #999;
	-webkit-box-shadow: 3px 3px 2px #999;

	padding: 5px;
  margin: 0px;

	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

section#twitter ul li {
  -webkit-transition-propaty: all;
  -webkit-transition-duration: 1s;
  -webkit-transition-timing-function: ease-in-out;
  list-style: none;
  line-height: 1.5em;
  border-bottom: 1px dotted #ccc;
}

section#twitter ul li:hover {
  background-color: #33a2be;
}


.ribbon {
  background-color: #a00;
  overflow: hidden;
  /* top left corner */
  position: absolute;
  left: -3em;
  top: 2.5em;
  /* 45 deg ccw rotation */
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  /* shadow */
  -moz-box-shadow: 0 0 1em #888;
  -webkit-box-shadow: 0 0 1em #888;
}
.ribbon a {
  border: 1px solid #faa;
  color: #fff;
  display: block;
  font: bold 81.25% 'Helvetiva Neue', Helvetica, Arial, sans-serif;
  margin: 0.05em 0 0.075em 0;
  padding: 0.5em 3.5em;
  text-align: center;
  text-decoration: none;
  /* shadow */
  text-shadow: 0 0 0.5em #444;
}

