@-webkit-keyframes kurukuru {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}

@-webkit-keyframes nijiiro {
	0% { color: #f00; }
	17% { color: #ff0; }
	33% { color: #0f0; }
	50% { color: #0ff; }
	67% { color: #00f; }
	83% { color: #f0f; }
	100% { color: #f00; }
}

body {
  font-family: Helvetica, "Lucida Grande","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ", "ＭＳ Ｐゴシック","Lucida Sans Unicode",Arial,Verdana,sans-serif;
  background-color: #aaa;
  margin: 0;
  padding: 0;
}

div#container {
  background-color: #fff;
  width: 90%;
  margin: 0px auto;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

header {
	display: -webkit-box;
	-webkit-box-align: center;
	width: 50%;
	margin: 1em auto;
}

header h1 {
	text-align: center;
	font-size: 4em;
	-webkit-box-flex: 1;
	-webkit-animation-name: kurukuru, nijiiro;
	-webkit-animation-duration: 3s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}

header .portrait {
	position: relative;
	-webkit-box-reflect: below 5px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.8, transparent), to(rgba(0, 0, 0, 0.8)));
}

header .portrait img {
	border: solid 12px white;
	height: 320px;
	-webkit-box-shadow: 1px 1px 6px silver;
}

header .portrait .eyemask {
	position: absolute;
	top: 35px;
	left: 115px;
	z-index: 1;
	width: 32px;
	height: 10px;
	background-color: black;
}

section {
  display: block;
  width: 80%;
  margin: 0px auto;
}

section h2 {
  background-color: #33a2be;
  color: #fff;
	box-shadow: 3px 3px 2px #999;
	-moz-box-shadow: 3px 3px 2px #999;
	-webkit-box-shadow: 3px 3px 2px #999;

	padding: 5px;
  margin: 0px;

	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

ul li {
  -webkit-transition-propaty: all;
  -webkit-transition-duration: 1s;
  -webkit-transition-timing-function: ease-in-out;
  list-style: none;
}

ul li:hover {
  background-color: #ccc;
}

