@-webkit-keyframes kurukuru {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}

@-webkit-keyframes nijiiro {
	0% { color: #f00; }
	17% { color: #ff0; }
	33% { color: #0f0; }
	50% { color: #0ff; }
	67% { color: #00f; }
	83% { color: #f0f; }
	100% { color: #f00; }
}

h1 {
	margin: 2em auto;
	text-align: center;
	-webkit-animation-name: kurukuru, nijiiro;
	-webkit-animation-duration: 3s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}

h2 {
	margin: 0;
	padding: 0;
}

div {
	box-shadow: 6px 6px 4px #999;
	-moz-box-shadow: 6px 6px 4px #999;
	-webkit-box-shadow: 6px 6px 4px #999;

	margin: 20px auto;
	padding: 0px;

	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;

	width: 80%;

}

ul li {
  -webkit-transition-propaty: all;
  -webkit-transition-duration: 1s;
  -webkit-transition-timing-function: ease-in-out;
}

ul li:hover {
  background-color: #ccc;
}

